.root{
  display: inline-block;
  position: relative;
}
.rootFullWidth{
  width: 100%;
}
.toggle{
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: indianred;
}
.input{
  padding-right: 40px;
}
.eyeIcon{
  position: absolute;
  bottom: 3px;
  right: 0;
  cursor: pointer;
}
.eyeIcon:hover{
  stroke: #70C05B;
}
.eyeIconActive{
  stroke: #70C05B;
}
